img,legend {
    border: 0
}

legend,td,th {
    padding: 0
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
    display: block
}

audio,canvas,progress,video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}[hidden],template {
     display: none
 }

a {
    background-color: transparent
}

a:active,a:hover {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b,optgroup,strong {
    font-weight: 700
}

dfn {
    font-style: italic
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}

pre,textarea {
    overflow: auto
}

code,kbd,pre,samp {
    font-family: monospace,monospace;
    font-size: 1em
}

button,input,optgroup,select,textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button,select {
    text-transform: none
}

button,html input[type=button],input[type=reset],input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],html input[disabled] {
    cursor: default
}

button::-moz-focus-inner,input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type=checkbox],input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {
    height: auto
}

input[type=search] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

html {
    font-size: 14px
}

body {
    background: #FFF;
    font-family: "microsoft yahei"
}

.wrap {
    width: 100%;
    min-width: 300px
}

.contant {
    min-width: 310px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0
}

.contant:after {
    content: '';
    clear: both
}

.red {
    color: #c33
}

.fl {
    float: left
}

.fr {
    float: right
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.8);
    height: 3rem;
    z-index: 96
}

.header .logo {
    display: block;
    float: left;
    width: 16rem;
    height: 2.5rem;
    margin: .2rem 0 0 .5rem;
    background: url(/static/v02/xs/logo.png) left center / auto 100% no-repeat
}

.header .logo img {
    display: none
}

.header .nav {
    position: absolute;
    top: 3rem;
    right: 0;
    z-index: 97;
    box-shadow: 0 0 .5rem 0 #333;
    padding: 0 .8rem;
    margin: 0;
    list-style: none;
    background: rgba(0,0,0,.9);
    height: 0;
    width: 5rem
}

.header .nav a {
    display: none;
    margin: 0;
    padding: .6rem 1rem;
    font-size: 1.1rem;
    color: #FFF;
    text-decoration: none;
    position: relative;
    border-bottom: 1px dotted #999
}

.header .nav a:last-child {
    border-bottom: 0
}

.header .nav a.on:after {
    position: absolute;
    top: 50%;
    left: -.2rem;
    margin-top: -.5rem;
    width: .1rem;
    height: 1rem;
    content: '';
    border-left: .2rem solid #c33;
    color: #c33
}

.header .nav .menu {
    position: absolute;
    top: -2rem;
    right: 1rem;
    width: 2rem;
    height: 1.5rem
}

.header .nav .menu:before {
    position: absolute;
    top: 0rem;
    right: 0rem;
    width: 1.6rem;
    height: .4rem;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    content: ''
}

.header .nav .menu:after {
    position: absolute;
    top: 1rem;
    right: 0;
    width: 1.6rem;
    height: 1px;
    background: #FFF;
    content: ''
}

.header .nav.on {
    padding: .5rem .8rem;
    height: auto;
    width: auto
}

.header .nav.on>a {
    display: block
}

.header .nav.out>a {
    display: none
}

.banner {
    height: 20rem;
    width: 100%;
    background: center bottom / 100% auto repeat-x
}

.banner .btn-banner {
    display: none
}

.title {
    padding: 2rem 0;
    margin: 0;
    text-align: center;
    font-size: 1.4rem;
    color: #333
}

.title .normal {
    display: inline-block;
    width: 1em;
    height: .6em;
    margin: 0 .5em;
    content: '';
    border-bottom: 1px solid #333
}

.title small {
    display: block;
    clear: both;
    font-size: 1rem;
    letter-spacing: .1em;
    color: #666;
    font-weight: 400;
    padding-top: .5em
}

.article {
    padding-bottom: 2em;
    font-size: 18px;
    color: #333;
    line-height: 1.75em
}

.article p {
    text-indent: 2em
}

.footer {
    display: none
}

.copyright {
    display: none;
    padding: .5rem;
    font-size: .8rem;
    color: #6C6c6c;
    background: #292929
}

.backtop {
    display: none;
    position: fixed;
    bottom: 15%;
    right: 0;
    width: 2rem;
    height: 2rem;
    background: url(/static/v02/lib../img/goback.jpg) center / 100% no-repeat;
    z-index: 91
}

.backtop .back,.backtop .tel {
    display: block;
    width: 100%
}

.backtop .back {
    height: inherit;
    z-index: 92
}

.backtop .tel {
    display: none
}

.code {
    display: none
}

.code,.nav>* {
    transition: all .2s linear 0s;
    -moz-transition: all .2s linear 0s;
    -webkit-transition: all .2s linear 0s;
    -o-transition: all .2s linear 0s
}

@media screen and (max-width:380px) {
    .banner {
        height: 15rem
    }
}

@media (min-width:380px) and (max-width:480px) {
    .banner {
        height: 17rem
    }
}

@media screen and (min-width:480px) {
    .banner {
        height: 19rem
    }
}

.banner {
  margin-top: 3rem;
  background-image: url(../img/cp.jpeg);
    background-color: #111;
    background-size: 100% 100%;
}


.title {
    margin-bottom: 1rem
}

.contant {
    padding: 0
}

.swiper-first {
    height: 190px;
    width: 100%;
    padding-top: 30px
}

.swiper-wrap {
    position: relative;
    height: 300px;
    padding: 3rem 2rem;
    margin-bottom: 5rem;
    box-sizing: border-box;
    background: #f7f8f8 url(/static/v02/xs/relation-bg.jpg) center
}

.swiper-wrap .swiper-button-prev,.swiper-wrap .swiper-button-next {
    position: absolute;
    top: 50%;
    left: 10px;
    width: 1.2rem;
    height: 1.2rem;
    background: 0 0;
    border-top: .1rem solid #c33;
    border-right: .1rem solid #c33;
    opacity: .8;
    transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    -o-transform: rotate(-135deg)
}

.swiper-wrap .swiper-button-next {
    left: auto;
    right: 10px;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg)
}

.swiper-wrap .lt,.swiper-wrap .rt,.swiper-wrap .br,.swiper-wrap .bl {
    display: none
}

.first-swiper-pagination {
    margin: 0 auto 80px;
    padding: 0;
    width: 100%;
    display: none
}

.relation-form {
    margin-bottom: 110px;
    overflow: hidden
}

.relation-form input {
    float: left;
    width: 22%;
    padding: 0 1.5%;
    margin-right: 10px;
    height: 45px;
    line-height: 45px;
    font-size: 18px;
    border: 1px solid #999
}

.relation-form input:focus {
    border-color: #c33
}

.relation-form input.btn {
    float: left;
    width: 21%;
    margin: 0;
    padding: 0;
    height: 45px;
    line-height: 45px;
    border: 0;
    background: #c33;
    color: #FFF;
    font-size: 18px
}

.slide-first {
    background: url(/static/v02/xs/relation-bj.jpg) center no-repeat;
    background-size: auto 100%
}

.slide-second {
    background: url(/static/v02/xs/relation-gz.jpg) center no-repeat;
    background-size: auto 100%
}

.slide-third {
    background: url(/static/v02/xs/relation-hz.jpg) center no-repeat;
    background-size: auto 100%
}
.address {
  width: 100%;
  height: 0px;
  padding-bottom: 50%;
  background-image: url('../img/address.jpeg');
  background-size: 100%;
}
.home-about__about {
  position: absolute;
  bottom: 0;
    width: 100%;
    height: 0px;
    padding-bottom: 40.5%;
    background-image: url('../img/xs/about.jpg');
    background-size: 100%;
}
